body {
  padding: 0; margin: 0;
	background-color: rgb(220, 220, 220);
}
#button {
  font-family: Ubuntu Mono;
  border-radius: 10px;
  background-color: rgb(238, 238, 238);
  font-size: 30px;
  border: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
#button:active {
  background-color: lightgray;
}
#button:focus {
  outline: none;
  border: none;
}

.dropdownSkins {
  font-size: 32px;
  font-family: Ubuntu Mono;
  padding: 2px;
  background-color: rgb(238, 238, 238);
  border-radius: 10px 10px 0px 0px;
  width: 128px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.middleSkinsMenu {
  font-size: 32px;
  font-family: Ubuntu Mono;
  padding: 2px;
  background-color: rgb(238, 238, 238);
  width: 128px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:pointer;
}

.endSkinsMenu {
  font-size: 32px;
  font-family: Ubuntu Mono;
  padding: 2px;
  background-color: rgb(238, 238, 238);
  border-radius: 0px 0px 10px 10px;
  width: 128px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:pointer;
}

.endSkinsMenu:hover {
  background-color: lightgray;
}

.middleSkinsMenu:hover {
  background-color: lightgray;
}