body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: Nova Mono;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-align: right;
  color: #006cb7;
  transition: 0.3s;
}

a:hover {
  color: #180e9e;
}

a:active {
  color: #006cb7;
}

.game {
  height: 100%;
  overflow: scroll;
}
